<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CS-546 Lab 10</title>
        <link rel="stylesheet" href="../public/css/hidden.css">
    </head>
    <body> <!-- TODO implement navigation bar -->
        <main>
            {{{body}}}
        </main>
    </body>
</html>