.hidden {
    display: none;
}
.error {
    color: red;
}
.success {
    color: greenyellow;
}
.navBarImage {
    height: 50px;
    width: auto;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item {
    font-size: 1.5rem;
}

/* targeting the signup-btn in navbar for when collapse menu is opened */
.navbar-collapse.show > ul > li.signup-btn, .navbar-collapse.collapsing > ul > li.signup-btn {
    padding-right: 0px;
    padding-bottom: 16px;
}

li.signup-btn  {
    padding-right: 8px;
}

.logout-btn {
    padding-right: 8px;
    padding-top: 6px;
}

.profile_edit-container,
.signup-container,
.signin-container,
.profile-container,
.createWorkoutlog {
    padding-top: 5rem;
}

.profile_edit-container {
    padding-top: 2rem;
}

.form-profile_edit,
.form-signup,
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    text-align: left;
}

.birthDateInput {
    width: 190px;
}

.profile-card {
    min-width: 228px;
}

.errorBtn {
    padding-top: 10px !important;
}

.errorContainer {
    max-width: 370px;
}

.viewWorkouts-container,
.logout-container {
    padding-top: 5rem;
}

.pagination-pages {
    padding: 10px;
}

#user-workout-search {
    margin-left: auto; 
    margin-right: 0;
}

#exercise-display {
    padding-top: 20px;
    text-align: center;
    margin: auto;
}

#exercise-value-label {
    font-weight: bold;
}

#exercise-error {
    max-width: 80%;
    margin: auto;
}

#pill-badge {
    padding: 12px;
}

.profile-card {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-text {
    margin-left: 1rem;
    margin-right: 1rem;
}

.p-card {
    margin-bottom: 2rem;
}